SENTRY_AUTH_TOKEN=xxx
SENTRY_ORG=sci-ecommerce
SENTRY_PROJECTS=adflow,kybi-ui

GITLAB_TOKEN=yyy
GITLAB_PROJECTS=group/project,team/repository

GITHUB_TOKEN=zzz
GITHUB_REPOS=owner/repo,owner/repository
